*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: black;
}
.logo
{
    max-width: 80px;
}
.logo>img
{
 width: 100%;
}
.carousel
{
    width: 100%;
    height: 580px;
    /* border: 1px solid red; */
    overflow: hidden;
}
.carousel img
{
    width: 100%;
    height: 100vh;
    object-fit:fill;
    object-position: center center;
}
.card img {
  height: 200px;
  object-fit: cover;
}
