*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: black;
}
.logo
{
    max-width: 80px;
}
.logo>img
{
 width: 100%;
}
.carousel
{
    width: 100%;
    /* height: 580px; */
    /* border: 1px solid red; */
    /* overflow: hidden; */
}
.carousel img
{
    width: 100%;
    height: auto;
    object-fit:cover;
    object-position: center center;
}
.card img {
  height: 200px;
  object-fit: cover;
}
.card
{
    transition: all 0.3s ease-in-out;
    border: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.card:hover
{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
@media (min-width:780px) {
    .carousel
    {
        height: 580px;
    }
    .carousel img
    {
        width: 100%;
        height: 600px;
        object-fit:fill;
    }
}