*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo
{
    max-width: 80px;
}
.logo>img
{
 width: 100%;
}
.carousel
{
    width: 100%;
    height: 300px;
}
.carousel img
{
    width: 100%;
    height: 80vh;
    object-fit:fill;
}